html {
    width: 100vw;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

#topmenu {
    position: absolute;
    z-index: 1;
    right: calc(40px + 10vw);
    top: 5px;
}

#topmenu a {
    color: white;
    margin-left: 40px;
    text-decoration: none;
    font-weight: bold;
}

#topmenu a:hover {
    color: rgb(224, 224, 224);
}

#navbar-container {
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    position: fixed;
    width: 110vw;
    height: 50px;
    top: 0px;
    background-color: rgb(87, 121, 48);
    /* opacity: 0.1; */
}

#navbar-hover {
    position: fixed;
    z-index: 1;
    width: 110vw;
    height: 50px;
    top: 0px;
}

#navbar {
    position: absolute;
    top: -13px;
    background-color: rgb(87, 121, 48);
    margin: 13px;
}

ul {
    width: 300px;
    margin: 0 calc(50% - 150px);
}

li {
    display: inline-block;
    margin-top: 0px;
    margin-left: -4px;
}

li a {
    color: white;
    font-weight: bold;
    font-size: 19px;
    margin: 20px;
    text-decoration: none;
    line-height: 50px;
    text-align: center;
}

li:hover {
    background-color: rgb(65, 64, 60);
}

#welcome-section {
    margin-top: 0px;
    height: 100vh;
    background-color: rgb(65, 64, 60);
    width: 100%;
}

#welcome-text {
    position: relative;
    width: 40vw;
    top: calc(50vh - 150px);
    left: 30vw;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#h1-welcome {
    margin-top: 0;
    color: white;
    font-size: 70px;
    margin-bottom: 10px;
}

#h2-welcome {
    margin-top: 10px;
    color: rgb(251, 255, 0);
    font-size: 35px;
    text-align: center;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif, Helvetica, sans-serif;
}

#projects {
    margin-top: -50px;
    height: 100vh;
    background-color: rgb(84, 115, 182);
    width: 100%;
}

#projects-text {
    position: relative;
    width: 100%;
    top: 10vh;
    text-align: center;
}

#h1-projects {
    margin-top: 0;
    color: white;
    font-size: 50px;
    text-decoration: underline;
}

#projects {
    margin-top: 0;
    height: 130vh;
    background-color: rgb(84, 115, 182);
    width: 100%;
}

.project-tile {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    margin: 15vh 5vw 2vh 5vw;
}

.project-tile div {
    margin: 2vw;
    text-align: center;
}

.project-tile div a {
    display: block;
    text-decoration: none;
    color: white;
    margin-top: 20px;
}

#project-1 {
    width: 25vw;
    min-width: 300px;
    height: 40vh;
    background-color: rgb(67, 74, 90);
}

#project-2 {
    width: 25vw;
    min-width: 300px;
    height: 40vh;
    background-color: rgb(67, 74, 90);
}

#project-3 {
    width: 25vw;
    min-width: 300px;
    height: 40vh;
    background-color: rgb(67, 74, 90);
}

#project-4 {
    width: 25vw;
    min-width: 300px;
    height: 40vh;
    background-color: rgb(67, 74, 90);
}

#contact-section {
    display: flex;
    flex-wrap: wrap;
    margin-top: -50px;
    height: 100vh;
    background-color: rgb(255, 222, 200);
    width: 100%;
}

#contact-text {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 40vw;
    margin: 0 auto;
    top: calc(40vh - 150px);
    height: 500px;
}

#h1-contact {
    margin-top: 0;
    color: rgb(0, 0, 0);
    font-size: 70px;
    margin-bottom: 10px;
    height: 300px;
}

#contact-links {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 60px;
    max-width: 600px;
    height: 300px;
    justify-content: center;
}

#contact-links a {
    color: black;
    margin: 0 30px 0 5px;
    font-weight: bold;
}

#contact-links a:hover {
    color: rgb(90, 90, 90);
}

@media screen and (max-width: 731px) {
    #navbar {
        margin: 1px;
    }
    #navbar-container {
        height: 100px; 
    }
    #navbar {
        top: 40px;
    }
    #navbar-hover {
        height: 100px;
    }
    ul {
        margin: 0;
    }
    #h1-welcome {
        font-size: 30px;
    }
    #h2-welcome {
        font-size: 25px;
    }
    #h1-projects {
        font-size: 30px;
    }
    #h1-contact {
        font-size: 30px;
    }
    #contact-links {
        flex-wrap: wrap;
    }
    #projects {
        height: 200vh;
    }
}

@media screen and (max-width: 380px) {
    body {
        overflow-x: hidden;
    }
    #navbar-hover {
        height: 125px;
    }
    #contact-links a {
        margin: 5px;
    }
    .contact-items {
        margin: 10px;
    }
  }

  @media screen and (max-width: 322px) {
 
    #navbar {
        background-color: rgb(87, 121, 48);
        margin: 0px;

  }